.home {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    letter-spacing: 2px; /* Harflar orasiga 2px masofa qo'shadi */
}
.intro {
    line-height: 20px; /* Qatorlar orasidagi masofa ikki baravar katta */

}
img {
    width: 400px;
    border-radius: 10px;
}
.left {
    width: 50%;
}
.right {
    margin-left: 10px;
}
button {
    margin-top: 10px;
    padding: 18px 55px;
    background-color: #3F8E00;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: 1px solid #3F8E00;
    box-shadow: 5px 5px 10px #408e0054;

}
button:hover {
    background-color: transparent;
}

.worced {
    color: white;
}

.logo__img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo__img img {
    width: 200px;
}