nav {
    background-color: #1B1B1B;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9C9C9C;
}
.nur {
    color: #3F8E00;
}
ul {
    display: flex;
    gap: 25px;
} 
li {
    transition: .2s;
}
li:hover {
    margin-top: -2px;
    border-bottom: 1px solid #9C9C9C;;
}
.ii {
    cursor: pointer;
    transition: transform 0.2s ease;
    color: #9C9C9C;
    font-size: 20px;
    margin: 5px;
    padding: 4px;
}
.ii:hover {
border-bottom: 1px solid #9C9C9C;
}